h1 {
    border: 2px #eee solid;
    color: purple;
    text-align: center;
    padding: 10px;
}

/* Message flashing */
.flash {
    background-color: #FBB0B0;
    padding: 10px;
    width: 400px;
  }